<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Seller::Root" title="Seller" module="Training_Seller" resource="Training_Seller::manage" />
        <add
                id="Training_Seller::seller"
                title="Training seller"
                module="Training_Seller"
                sortOrder="100"
                parent="Training_Seller::Root"
                action="training_seller/seller/index"
                resource="Training_Seller::manage"
        />
    </menu>
</config>
